body {
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.galeria{
    font-family: 'open sans';
}

.galeria h1{
    text-align: center;
    margin:20px 0 15px 0;
    font-weight: 300;
}

.linea{
    border-top: 5px solid #cf69c2;
    margin-bottom: 40px;
}

.contenedor-imagenes{
    display:flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius:3px;
}

.contenedor-imagenes .imagen{
    width: 32%;
    position: relative;
    height:250px;
    margin-bottom:5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75)
}
.imagen img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    background:rgba(208, 133, 211, 0.932) ;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s ease;
}

.overlay h2{
    color: #fff;
    font-weight: 300;
    font-size:30px;
    position: absolute;
    top: 50%;
    left:50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.imagen:hover .overlay{
    height:100%;
    cursor: pointer;
}

@media screen and (max-width:1000px){
    .contenedor-imagenes{
        width: 95%;
    }
}

@media screen and (max-width:700px){
    .contenedor-imagenes{
        width: 90%;
    }
    .contenedor-imagenes .imagen{
        width: 48%;
    }
}

@media screen and (max-width:450px){
    h1{
        font-size:22px;
    }
    .contenedor-imagenes{
        width: 98%;
    }
    .contenedor-imagenes .imagen{
        width: 80%;
    }
}




.logo2{

   width: 90px;
   height: 90px;

}


* {
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    padding: 0 0px 0;
  }
  
  .header {
    background-color: white;
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
  
    max-width: 992px;
    margin: 0 auto;
  }
  
  .nav-link {
    color: black;
    text-decoration: none;
  }
  
  .logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
  }
  
  .nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
  }
  
  .nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
  }
  
  .nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
  }
  
  .nav-menu-link:hover,
  .nav-menu-link_active {
    background-color: pink;
    transition: 0.5s;
  }
  
  /* TOGGLE */
  .nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
  
    display: none;
  }
  
  /* MOBILE */
  @media (max-width: 768px) {
    body {
      padding-top: 70px;
    }
  
    .header {
      height: 60px;
    }
  
    .logo {
      font-size: 25px;
      padding: 0 20px;
      line-height: 60px;
    }
  
    .nav-menu {
      flex-direction: column;
      align-items: center;
      margin: 0;
      background-color: #2c3e50;
      
      top: 60px;
      width: 100%;
      padding: 20px 0;
  
      height: calc(100% - 60px);
      overflow-y: auto;
  
      left: 100%;
      transition: left 0.3s;
    }
  
    .nav-menu-item {
      line-height: 70px;
    }
  
    .nav-menu-link:hover,
    .nav-menu-link_active {
      background: none;
      color: #83c5f7;
    }
  
    .nav-toggle {
      display: block;
    }
  
    .nav-menu_visible {
      left: 0;
    }
  
    .nav-toggle:focus:not(:focus-visible) {
      outline: none;
    }
  }




.redsocial{     

    width: 50px;
    height: 50px;
    margin-right: -20px;
    margin-left: 1100px;
    align-items: center;
   
    
   
    
}

.redsocial:hover {

    animation: mover-izquierda-derecha linear 0.5s;
}

@keyframes mover-izquierda-derecha {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(15deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-15deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

v * {
   
    padding: 10px;
    margin: 20px;;
    box-sizing: border-box;
    box-sizing: border-box;
    box-sizing: border-box;
}

.container{

    
    width: 90%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;    


}

.item{
    
    background-color: white;
    cursor: pointer;
    box-shadow: black;
    transform: all 300ms ;

}


.item:hover{

    transform: scale(1.05);

}

.item-text{

    padding: 1em;
}

.item-img{

    max-width: 100%;
    display: block;
}

/* @media screen and (min-width: 590px) {

    .container{

        grid-template-columns:repeat(2. 1fr) ;
    }
}


@media screen and (min-width: 590px) {

    .container{

        grid-template-columns:repeat(2. 1fr) ;
    }
} */

.inicio{

      width: 30px;
      height: 30px;
      

}



.gab{
    padding: 10px 0px;
    width: 300px;
    margin-left: 20%;
    
    
}

.gab1{

    padding: 10px 0px;
    width: 300px;
    margin-left: 70%;    

}


h4{
    margin-left: 20%;  
}

h5{

    margin-left: 100% ;
    margin-top:-100px ;

}

.tit{

    margin-right:10%;
    margin-left: 10px ;


}

.inicio2{

    width: 400px;
    height: 400px;
    margin-right: 200px;
    margin-left: 100px;

}


.container-all{

    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 80px;
    margin-left: -3.5%;
}

.container-all img{

    width: 300px;
    float: left;
    margin-right: 1000px;
}

.container-all p {

    font-size: 15px;
    font-weight: 300;
    margin-top: 50px;
}

form {
    width: 40%;
    padding: 10px;
    margin: auto;
    margin: 10px;
}

.direccion {
    padding: 20px;
}

footer {
    background-color: #212121;
    margin-top: 10px;
    margin: auto;
    padding: 20px;
    width: 100%;
}

footer img {
    width: 200px;
    display: block;
    margin: auto;
}

.pTorta{
    width: 300px;
    border: 5px solid white;
}

.pTorta .especial {
    width: 200px;
    
}


@media screen and (max-width:400px){
    /* .col-6, .col-sm-6{
        width: 100%;
    } */
    .imagen {
        display: none;
    }
    footer {
        background-color: red;
    }
}
.imgmujer{

    margin-top: 10px; ;
    margin-bottom: -100px;
    height: 400px;
    margin-left: 450px;


}

.navbar-brand{

    height: 10px;
}